<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilo.css') }}">
</head>
<body>
    <img  src="https://www.ifro.edu.br/img/logo-ifro-hotsite.png" alt="logo IFRO" width="70" height="70">
    <br>
    <nav>
        <a href="/index">Página Inicial</a>
        <a href="/contato">Contatos</a>
    </nav>
    {% block conteudo %}

    {% endblock %}
</body>
</html>